.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 50px;
	float: left;
}

.App-header {
	background-color: #282c34;
	align-items: center;
	color: white;
	height: 50px;
}

.App-title {
	font-size: 20px;
	font-weight: 600;
	color: #61dafb;
	float: left;
	padding-top: 10px;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}